extends ../layout.pug 

block content
    p Cześć #{name},

    p Dziękujemy za rejestrację w GoldSkill! Jesteś na końcu formalności.
      | Dokończ proces zakładania konta, klikając w poniższy przycisk, aby potwierdzić swój adres e-mail:

    a(href={confirmationLink} style='display:inline-block;padding:10px 20px;background-color:#28a745;color:white;text-decoration:none;border-radius:5px;margin:10px 0;') Potwierdź adres e-mail

    p Jeśli nie rejestrowałaś/eś się na naszej platformie, zignoruj tego maila.
    p W razie pytań, zawsze możesz do nas napisać