extends ../layout.pug

block content
    p Cześć #{name}

    p Dziękujemy za dołączenie do elitarnego grona GoldSkill! Cieszymy się z Twojego zaufania i tego, że zdecydowałaś/eś się rozpocząć swoją przygodę z tradingiem razem z nami.

    p Sprawdź nasze kursy:
    ul 
        li „Zrozumieć Rynki”
        li „Poradnik SMC”
        li „London Breakout”
        li „Podstawy Tradingu”

    p Dla ułatwienia Twojego startu, przygotowaliśmy krótki przewodnik, który znajdziesz na Discordzie w zakładce „EDUKACJA, ROZWÓJ” — „start_edukacja”.

    p Życzymy Ci udanych inwestycji i owocnej nauki!

