footer
  hr
  p Pozdrawiamy,
  p Zespół Golskill
  p 
    a(href="mailto:GoldSkill.TradeGroup@gmail.com") Email |
    a(href="https://facebook.com/yourcompany") Discord |
    a(href="https://www.GoldSkill.pl") Nasza strona